*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Navbar section start */
.navbar{
    background-color: white;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
/* Navbar section closed */

.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.5;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 40%;
}
.main .icon a{
     font-size: 40px;
     padding: 10px;
     cursor: pointer;
     display:inline;
     color: inherit;    
}
.main .icon a:hover{
    color: rgb(5, 80, 120);
}
.main .bt1{
    height: 55px;
    width: 138px;
    background-color:rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.main .bt1:hover{
    background-color: rgb(202, 18, 95);
    transform: 0.5s;
}
.main .bt2{
    height: 55px;
    width: 138px;
    background-color:transparent;
    color: rgb(233, 20, 109);
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    font-weight: bold;
    border-radius: 5px;
}
.main .bt2:hover{
    background-color: rgb(233, 20, 109);
    transform: 0.5s;
    color: white;
}
/* Main section close */

/* About section start */
.about img{
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
border-radius: 40px;
height: 90%;
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
.btn1{
    height: 45px;
    width: 155px;
    background-color:transparent;
    color: rgb(233, 20, 109);
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    font-weight: bold;
    border-radius: 5px;
}
.btn1:hover{
    background-color: rgb(233, 20, 109);
    transform: 0.8s;
    color: white;
}
.btn2{
    height: 45px;
    width: 118px;
    background-color:rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px; 
}
.btn2:hover{
    background-color: rgb(202, 18, 95);
    transform: 0.5s;
}
/* About section closed */

/* Services section start */
.card{
    border: none;
    outline: none;
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: rgb(239, 200, 200);
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card:hover .circle{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.circle:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
}
/* services section closed */

/* Contact us section start */
.contact .btn3{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
}
.btn3:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
    border: 1px solid black;
}
/* Contact us section closed */

/* profile section start */

.col-lg-4 {
    margin-bottom: 1.2rem; /* Adjust the value as needed */
}

hr{
    background-color: black;
}
.inner-box{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
}
.inner-box img{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 1s all ease-in-out;
}
.profile-img{
    overflow: hidden;
}
.profile-img:hover img{
    transform: scale(1.5);
}
.is-hover{
    transform: translate(-12px);
}
@media (max-width: 981px){
    .profile{
        height: 100%;
    }
}
/* profile section closed */

footer{
    background-color: rgb(59, 57, 57);
    color: lightgray;
}
